@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/assets/css/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <link href="~/Content/assets/css/jquery.fancybox-buttons.css" rel="stylesheet" />
    <link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/assets/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/community_group.css" rel="stylesheet" />

    <script src="~/Content/assets/js/jquery.min.js"></script>

    <script src="~/Content/js/jquery.fancybox-buttons.js"></script>
    <script src="~/Content/js/jquery.fancybox-media.js"></script>
    <script src="~/Content/js/jquery.fancybox-thumbs.js"></script>
    <script src="~/Content/js/jquery.fancybox.pack.js"></script>

</head>

<body style="overflow-x:hidden;">

    <header class="container-fluid">
        <section class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p class="contactInfor colorWhite nomargin text-uppercase text-light">Call US Free: <a href="tel:18007777889" class="colorWhite">1-800-777-7889</a></p>
                </div>
                <div class="col-sm-8">
                    <ul class="pull-right">
                        <li><a href="/shop/">Shop</a></li>
                        <li><a href="/services/">Services</a></li>
                        <li><a href="#">Request</a></li>
                        <li><a href="#">Become A Service Provider</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </header>

    <header class="container-fluid bottomHeader">
        <section class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 padding20pxTB">
                    <button class="navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="TopCategory">
                        <ul>
                            <li>Top Category</li>
                            @Html.Action("_getProductCategory", "shop")
                        </ul>
                    </div>
                    <a href="/" class="logo"><img src="~/Content/assets/images/logo.png" alt="ACTPAL" /></a>
                </div>
                <div class="col-sm-4 col-md-6 padding20pxTB">
                   
                </div>
                <div class="col-sm-4 col-md-3">
                    <ul class="cartPanel">
                        <li><a href="#">Cart <img src="~/Content/assets/icons/cart-white-icon.png"></a></li>
                        <li><a href="/Account?url=@Request.RawUrl">Sign Up / Login</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </header>


    <section class="container-fluid" style="padding:30px;">
            <div class="row">
                <div class="col-md-4 col-lg-3 profileSection userSection">
                    <div class="userProfile">
                        <div class="userImage">
                            <a href="/User/Edit" class="editBtn" title="Edit Profile">Edit</a>
                            <a id="photoUpload" title="Photo Change">
                                <div class="statusBox">
                                    @if (Session["LoginStatus"].ToString() == "1" || Session["LoginStatus"].ToString() == "0")
                                    {
                                        <span class="currStatus available"></span>
                                        <ul class="allStatus">
                                            <li class="available active" data-status="1"> Available</li>
                                            <li class="away" data-status="2"> Away</li>
                                            <li class="doNotDisturb" data-status="3"> Do Not Disturb</li>
                                            <li class="offline" data-status="4"> Offline</li>
                                        </ul>
                                    }
                                    else if (Session["LoginStatus"].ToString() == "2")
                                    {
                                        <span class="currStatus away"></span>
                                        <ul class="allStatus">
                                            <li class="available" data-status="1"> Available</li>
                                            <li class="away active" data-status="2"> Away</li>
                                            <li class="doNotDisturb" data-status="3"> Do Not Disturb</li>
                                            <li class="offline" data-status="4"> Offline</li>
                                        </ul>
                                    }
                                    else if (Session["LoginStatus"].ToString() == "3")
                                    {
                                        <span class="currStatus doNotDisturb"></span>
                                        <ul class="allStatus">
                                            <li class="available" data-status="1"> Available</li>
                                            <li class="away" data-status="2"> Away</li>
                                            <li class="doNotDisturb active" data-status="3"> Do Not Disturb</li>
                                            <li class="offline" data-status="4"> Offline</li>
                                        </ul>
                                    }
                                    else if (Session["LoginStatus"].ToString() == "4")
                                    {
                                        <span class="currStatus offline"></span>
                                        <ul class="allStatus">
                                            <li class="available" data-status="1"> Available</li>
                                            <li class="away" data-status="2"> Away</li>
                                            <li class="doNotDisturb" data-status="3"> Do Not Disturb</li>
                                            <li class="offline active" data-status="4"> Offline</li>
                                        </ul>
                                    }
                                </div>
                                @if (Session["groupImg"] != null && Session["groupImg"] != "")
                                {
                                    <img id="imgPreview" class="img-responsive profilepic" data-userid="@Session["groupId"]" src="~/Content/Group-Media/GroupProfile/@Session["groupId"].ToString()@Session["groupImg"].ToString()" />
                                }
                                else
                                {
                                    <img id="imgPreview" class="img-responsive profilepic" data-userid="@Session["groupId"]" src="~/Content/images/default-profile.png" />
                                }
                            </a>                            
                            <h3 class="text-center colorWhite">@Session["groupName"]</h3>
                        </div>
                        <ul class="profileLinks">
                            <li><a href="/community/group_profile">Chat Topics</a></li>
                            <li>
                                <a href="#">Experiences</a>
                                <ul class="sub-menu">
                                    <li><a href="~/community/Services_Experience?CatId=1">Product</a></li>
                                    <li><a href="~/community/Services_Experience?CatId=2">Services</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8 col-lg-9">
                    @RenderBody()
                </div>
            </div>
        
    </section>

    <section class="container-fluid footerTop">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="bussInfo">
                        <img src="~/Content/assets/icons/cart-icon.png" alt="" />
                        <h5>FREE SHIPPING</h5>
                        <p>Free Shipping on World wide Order Over $99.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bussInfo">
                        <img src="~/Content/assets/icons/trusted-icons.png" alt="" />
                        <h5>Trusted Pay</h5>
                        <p>100% Payment Protection & Easy Return</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bussInfo">
                        <img src="~/Content/assets/icons/secure_payment.png" alt="" />
                        <h5>Secured Payment</h5>
                        <p>All Major Credit & Debit Cards Accepted</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bussInfo">
                        <img src="~/Content/assets/icons/shop-on-app.png" alt="" />
                        <h5>Shop on app</h5>
                        <p>Just Dowload our App & Shop With Best Offers!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid newsLetters">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <span class="text-uppercase newsLettersContent">SIGNUP to NEWSLETTER</span>
                </div>
                <div class="col-sm-5">
                    <div class="searchPanal">
                        <form action="">
                            <input type="text" name="s" class="form-control" placeholder="Enter Your Email Address">
                            <button type="submit">SUBMIT</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-5">
                    <ul class="ul-table socialMedia">
                        <li>Keep in touch</li>
                        <li><a href="#"><img src="~/Content/assets/icons/social-white-twitter.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/assets/icons/social-white-facebook.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/assets/icons/social-white-intagram.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/assets/icons/social-white-pinterest.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/assets/icons/social-white-vimeo.png" alt="" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer class="container-fluid topFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3><img src="~/Content/assets/images/black-logo.png" alt="" /></h3>
                    <p>Many say exploration is part of our dest but it’s actually our duty to future and their.</p>
                    <p><strong>Address:</strong> 868 Fake Street, New Delhi</p>
                    <p><strong>Phone:</strong> <a href="tel:+919036748976">+91 90367 48976</a></p>
                    <p><strong>Email:</strong> <a href="mailto:info@sactpal.com">info@sactpal.com</a></p>
                </div>

                <div class="col-sm-3">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="#">Discount Voucher</a></li>
                        <li><a href="#">Spring Collection</a></li>
                        <li><a href="#">Trending</a></li>
                        <li><a href="#">Best Seller</a></li>
                        <li><a href="#">Special Deals</a></li>
                    </ul>
                </div>

                <div class="col-sm-3">
                    <h3>Policy Info</h3>
                    <ul>
                        <li><a href="#">Order &amp; Returns</a></li>
                        <li><a href="#">Advance Search</a></li>
                        <li><a href="#">Help &amp; FAQs</a></li>
                        <li><a href="#">Consultant</a></li>
                        <li><a href="#">Store Location</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>My Account</h3>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Term &amp; Conditions</a></li>
                        <li><a href="#">Custom Links</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <footer class="container-fluid footerBottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>&copy; Copyright - actpal. all rights reserved.</p>
                </div>
                <div class="col-sm-6">
                    <p class="text-right nomargin" style="position:relative;top:-10px;"><img src="~/Content/assets/icons/payment-method.png" alt="" /></p>
                </div>
            </div>
        </div>
    </footer>

    <div id="notification" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Notification</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



    @RenderSection("scripts", required: false)

    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/script.js"></script>
    <script src="~/Content/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>

