<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ChatSystem Home</title>

    <script src="@Url.Content("~/Content/Scripts/jquery-1.10.2.min.js")"   type="text/javascript"></script>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css?v=2.1.6" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <link href="~/Content/css/bootstrap-datepicker.css" rel="stylesheet" />

    <script src="~/Content/js/jquery31.min.js"></script>


    <!-- Add mousewheel plugin (this is optional)
    <script type="text/javascript" src="~/Content/js/jquery.mousewheel-3.0.6.pack.js"></script>-->
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!-- Add fancyBox -->
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js?v=2.1.6"></script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <script type="text/javascript" src="~/Content/js/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="~/Content/js/jquery.fancybox-media.js?v=1.0.6"></script>


    <script type="text/javascript" src="~/Content/js/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <script src="~/Content/js/jquery.countdownTimer.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {

            @if (TempData["contactmsg"] != null)
            {
                 <text>$('#registerconfirm').modal('show'); </text>
            }
            @if (TempData["regmsg"] != null)
             {
                <text>$('#registerconfirm').modal('show'); </text>
             }
            @if (TempData["forgetpssmsg"] != null)
            {
                <text>$('#registerconfirm').modal('show'); </text>
            }
            @if (TempData["reqno"] != null)
             {
                 <text>$('#registerconfirm').modal('show'); </text>
             }

        });
    </script>


    <script src="@Url.Content("~/Content/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

    <script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @Scripts.Render("~/bundles/jquery")

</head>

<body>



    <header>

        <section class="container-fluid topHeader">
            <div class="col-sm-5">
                <div class="logo">
                    <a href="/"><img src="~/Content/images/logo.png" class="img-responsive" /></a>
                </div>
            </div>

            <div class="col-sm-6 pull-right impLinks">
                <input type="hidden" value="@Session["UserID"]" id="userId" />
                <ul class="pull-right beforeLogin">
                    <li>
                        <a class="accountBtn registrationBtn">Register</a>
                        <div class="loginForm registration">
                            <h3>Registration</h3>
                            <p>Registration to My Company</p>
                            <div id="regis-body">
                                @{ Html.RenderAction("Registration", "Account");}
                            </div>
                            <p>
                                <a href="#">Term of Use</a> &nbsp;&nbsp;&nbsp;@Html.ActionLink("Privacy & Cookies", "Policy", "Home")
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="accountBtn loginBtn">My Page</a>
                        <div class="loginForm">
                            <h3>Sign in</h3>
                            <p>My Company Name Page</p>
                            <div id="login-body">
                                @{ Html.RenderAction("Login", "Account"); }
                            </div>
                            <p>
                                No account? <a  id="popUpReg">Create One!</a> &nbsp;&nbsp;&nbsp;@Html.ActionLink("Forgot my password", "ForgetPassword", "Account")
                            </p>
                            <p>
                                <a href="#">Term of Use</a> &nbsp;&nbsp;&nbsp;@Html.ActionLink("Privacy & Cookies", "Policy", "Home")
                            </p>
                        </div>
                    </li>

                    <li>
                        <button class="userProileMob collapsed navbar-toggle" data-target="#bs-navbar" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </li>
                </ul>


            </div>
        </section>
    </header>

    <section class="mainContainer userMasterPage">
        <section class="container-fluid">

            <div class="col-md-3 col-lg-2 profileSection">
                <div class="searchPanel">
                    <div class="input-group">
                        <input type="text" class="form-control" id="requestDetailSearchText" placeholder="Search for..." />
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="requestDetailSearch" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <div class="userProfile">
                    <ul class="profileLinks">
                        <li class="active">@Html.ActionLink("Incidents", "Index", "Home")</li>
                        <li>@Html.ActionLink("Coming Soon", "ComingSoon", "Home")</li>
                        <li>@Html.ActionLink("What's New", "whats_new", "Home")</li>
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Privacy Policy", "Policy", "Home")</li>
                        <li>@Html.ActionLink("Support", "Support", "Home")</li>
                        <li>@Html.ActionLink("My Talent", "talent_post", "my_talent")</li>
                    </ul>
                </div>

            </div>

            <div class="col-md-8 contentSection">

                @RenderBody()
            </div>
        </section>


    </section>

    <div class="clearfix"></div>
    <footer class="container-fluid">
        <article class="container">
            <aside class="row">
                <div class="col-sm-12 text-center">
                    <ul>
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        <li><a href='#'>Career</a></li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    </ul>
                    <p>&copy; 2017 Companyname.com. All Rights Reserved.</p>
                </div>
            </aside>
        </article>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

    <div class="modal fade" id="registerconfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header blueHeading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Notification</h4>
                </div>
                <div class="modal-body">
                    <h4>
                        @if (TempData["regmsg"] != null)
                        {  @TempData["regmsg"]
                        }
                        @if (TempData["contactmsg"] != null)
                        {  @TempData["contactmsg"]
                        }
                        @if (TempData["forgetpssmsg"] != null)
                        {  @TempData["forgetpssmsg"]
                        }@if (TempData["reqno"] != null)
                        {  @TempData["reqno"]
                        }
                    </h4>
                </div>
                <div class="modal-footer">
                    @if (TempData["forgetpssmsg"] != null)
                    {  
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    }
                    else { 
                    <a href="/" class="btn btn-primary">Ok</a>
                    }                    
                     </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header blueHeading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Notification</h4>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to select this option</h4>
                </div>
                <div class="modal-footer">
                    <a href="/home/index" class="btn btn-primary">Ok</a>                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header blueHeading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                </div>
                <div class="modal-body">
                    <h4></h4>
                </div>
                <div class="modal-footer">
                    <button onclick="return true" class="btn btn-primary">Ok</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header blueHeading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                </div>
                <div class="modal-body">
                    <h4></h4>
                </div>
                <div class="modal-footer">
                    <button id="confirmResponse" class="btn btn-primary">Ok</button>
                    <button id="rejectResponse" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="loadinglogin" class="loader-Class"></div>

    <div class="blackLayer">
        <div class="closeBtn"><i class="glyphicon glyphicon-remove"></i></div>
    </div>
</body>
</html>
