@model Models.LoginViewModel

@using (Ajax.BeginForm("Login", "Account", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "successLogin", LoadingElementId = "loadinglogin", UpdateTargetId = "login-body" }))
{
    <div id="loadinglogin" class="loader-Class"></div>
    @Html.AntiForgeryToken()

    <p><input type="text" name="Email" class="form-control" placeholder="Email" /></p>
    <p><input type="password" name="Password" class="form-control" placeholder="Password" /></p>
    if (Model != null)
    {
        <input type="hidden" name="requestId" value="@Model.requestId" id="reqIdLog" />
    }
    else if (Request.QueryString["req_id"] != null)
    {
        <input type="hidden" name="requestId" value="@Request.QueryString["req_id"]" id="reqIdLog" />
    }
    else
    {
        <input type="hidden" name="requestId" value="0" id="reqIdLog" />
    }
    <input type="hidden" name="url" value="@ViewBag.url" />
    <div class="logInError">
        @Html.ValidationSummary()
    </div>
    <p><a href="/Account/ForgotPassword">Forgot my password</a></p>
    <p class="text-center">
        <input type="submit" value="" class="btn btn-warning" />
        <!--<input type="submit" value="Sign In" class="btn btn-warning" />-->
    </p>
    <p><a href="#">Term of Use</a> <a href="#" class="pull-right">Privacy &amp; Cookies</a></p>
}

<script type="text/javascript">
    function successLogin(data) {
        if (data != "-1") {
            window.location.href = data;
        } else {

        }
    }
</script>