@model ViewModels.ResetPasswordViewModel

@using (Ajax.BeginForm("ResetPasswrod", "User", null, new AjaxOptions() { HttpMethod = "POST", LoadingElementId = "loadingresetpass", UpdateTargetId = "ResetPassword-body" }))
{
    if (Model != null)
    {
        @Html.HiddenFor(u => u.Mem_ID)
    
    }
    else
    {
        <input type="hidden" name="Mem_ID" value="@Session["UserID"]" />
    }


    <div id="loadingresetpass" class="loader-Class"></div>
    <div class="row">
        <div class="col-sm-8">
            <label>Enter Old Password</label>
            <span>
                @Html.PasswordFor(u => u.Old_Password, new { @class = "form-control" })
                <span>@Html.ValidationMessageFor(u => u.Old_Password)</span>
            </span>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-8">
            <label>New Password</label>
            <span>
                @Html.PasswordFor(u => u.New_password, new { @class = "form-control" })
                <span>@Html.ValidationMessageFor(u => u.New_password)</span>
            </span>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-8">
            <label>Re-Enter Password</label>
            <span>
                @Html.PasswordFor(u => u.Confirm_password, new { @class = "form-control" })
                <span>@Html.ValidationMessageFor(u => u.Confirm_password)</span>
            </span>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-8">
            <p class="text-right">
                <input type="submit" class="btn btn-primary" value="Save All And Close" />
                <a href="javascript:void(0)" class="btn btn-primary cancelGoBack">Cancel And Go Back</a>
            </p>
        </div>
    </div>

}
