@model IEnumerable<ViewModels.RequestFileDataViewModel>

<div class="row">
    <div class="col-sm-4">
        <div class="marginTop10px">
            <button id="uploadDocPopup" class="btn btn-primary"><i class="fa fa-plus"></i> Document</button>
        </div>
    </div>

    <div class="col-sm-8 marginTop10px">
        <div class="row">
            <div class="col-sm-5"><input type="text" class="form-control" value="@ViewBag.docSearch" id="docSearch" placeholder="Enter Name or Title"></div>
            <div class="col-sm-5 nopadding">
                @Html.Action("DocumentType", "CascadingDropDown", new { selectedValue = @ViewBag.docId })
            </div>
            <div class="col-sm-2"><button id="documentFilter" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button></div>
        </div>
    </div>

    <div class="col-lg-12">
        
        <div class="clearfix"></div>
        @if (Model.Count() > 0)
        {
            <div class="table table-responsive marginTop10px documentTable">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Uploaded By</th>
                            <th>Uploaded To</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="@(@item.status == 3 && @item.Mem_id != Convert.ToInt32(Session["UserID"]) ? "strong" : "")">
                                <td>@item.doc_title</td>
                                <td>
                                    @if (item.Mem_id != Convert.ToInt32(Session["UserID"]))
                                    {
                                        @item.Mem_name
                                    }
                                    else
                                    {
                                        <text>Me</text>
                                    }
                                </td>
                                <td>
                                    @if (item.sentTo != Convert.ToInt32(Session["UserID"]))
                                    {
                                        @item.sentToName
                                    }
                                    else
                                    {
                                        <text>Me</text>
                                    }
                                </td>
                                <td class="text-center">@item.doc_type</td>
                                <td class="text-center">@item.date.ToString("dd/MM/yyyy")</td>
                                <td style="width:150px;" class="actionDocbtn">
                                    <a href="~/Content/images/Request_Document/@item.doc_path" download class="btn btn-primary readThisDoc" data-doc-id="@item.doc_id" title="Download File"><i class="fa fa-download"></i></a>
                                    <a href="~/Content/images/Request_Document/@item.doc_path" target="_blank" data-doc-id="@item.doc_id" class="btn btn-primary readThisDoc" title="Open File"><i class="fa fa-file"></i></a>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="paginationBox documentPaging col-sm-12">
                @if (ViewBag.totalpages > 1)
                {
                    <ul class="pagination pull-left nomargin">
                        @if (ViewBag.CurrentPage != 1)
                        {
                            <li><a href="javascript:void(0)" data-page="1"><span aria-hidden="true">&laquo;</span></a></li>
                            <li><a href="javascript:void(0)" data-page="@(ViewBag.CurrentPage-1)"><span aria-hidden="true">&lsaquo;</span></a></li>
                        }
                        @if (ViewBag.totalpages > 1)
                        {
                            var i = 1; var last = 5;
                            if (ViewBag.CurrentPage > 3)
                            {
                                i = ViewBag.CurrentPage - 2;
                                last = ViewBag.CurrentPage + 2;
                            }
                            if (last > ViewBag.totalpages)
                            {
                                last = ViewBag.totalpages;
                            }

                            for (; i <= last; i++)
                            {
                                if (i == ViewBag.CurrentPage)
                                {
                                    <li class="active"><a href="javascript:void(0)" data-page="@i">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="javascript:void(0)" data-page="@i">@i</a></li>
                                }

                            }
                        }
                        @if (ViewBag.totalpages > ViewBag.CurrentPage)
                        {
                            <li>
                                <a href="javascript:void(0)" data-page="@(ViewBag.CurrentPage+1)">
                                    <span aria-hidden="true">
                                        &rsaquo;
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-page="@ViewBag.totalpages">
                                    <span aria-hidden="true">
                                        &raquo;
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>

                    <ul class="pull-left nomargin" id="docPerPage" style="list-style:none;padding: 0 0 0 10px;">
                        <li>
                            <input type="hidden" value="@ViewBag.pageSize" id="pageSize" />
                            <select name="" class="perPageDropdown requestList">
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                            </select>
                            select per page
                        </li>
                    </ul>
                }
                <p class="pull-right nomargin">@ViewBag.CurrentPage-@ViewBag.totalpages of @ViewBag.totalPost items</p>
            </div>
        }
        else
        {
        <h3 class="text-center">No Record Found</h3>
        }

    </div>

   
    <div class="clearfix"></div>
    <div class="marginTop30px"></div>
</div>


<div class="modal fade" id="reqDocumentPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header blueHeading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Choose Your Document</h4>
            </div>
            <div class="modal-body">
                <div class="addPhotoEvent">
                    <div class="col-sm-12">
                        <input type="hidden" value="@ViewBag.req_id" id="requestId" />
                        <p>
                            <input type="text" class="form-control" placeholder="Enter Document Title*" id="docTitle" />
                        </p>
                        <input type="file" value="photo" name="photo" id="inputFile">
                        <div class="choosePhoto">
                            <h3 class="text-center">
                                <i class="fa fa-upload"></i><br />
                                Choose Document
                            </h3>
                        </div>
                        <p class="has-error nomargin text-center"></p>
                    </div>
                                       
                </div>
                <div class="selected-Photo-Preview hide">
                    <ul></ul>
                </div>
            </div>
            <div class="modal-footer">                
                <button id="uploadReqDocument" type="button" class="btn btn-primary">Upload Document</button>
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="shareDocumentPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header blueHeading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Share Your Document</h4>
            </div>
            <div class="modal-body">
                <div class="addPhotoEvent">
                    <div class="col-sm-12">                        
                        <p class="nomargin">
                            <input type="text" class="form-control" placeholder="Share With" id="shareDoc" />
                        </p>   
                        <div class="friendList shareFriendList">
                            <ul class="FriendListBox"></ul>
                        </div>
                        <p class="shareWith"><small>Share With:</small></p>                                             
                    </div>
                </div>                
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button id="shareDocument" type="button" class="btn btn-primary">Share Document</button>
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>










