@model IEnumerable<ViewModels.RequestDetailViewModel>


@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="container-fluid ">
            <div class="searchResult" id="addproductDetail">
                <div class="row formFieldsBox">
                    <div class="col-md-5 col-md-offset-1">
                        <input type="hidden" value="1" name="Service_Category_Id" />
                        <input type="hidden" value="@item.Request_Details_ID" id="reqTypeID" />
                        <div class="formRow"><label>Product Name :</label><span><input type="text" name="product_name" readonly value="@item.Request_Title" class="form-control" /></span></div>
                        <div class="formRow"><label>Quantity :</label><span><input type="number" value="@item.Quantity" readonly min="1" name="product_quantity" class="form-control" /></span></div>
                        <div class="formRow">
                            <label>Unit Price :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></div>
                                <input type="number" min="0" value="@item.Request_Cost" class="form-control" readonly name="cost" />
                            </div>
                        </div>
                        @*<p><label>Date :</label><span><input type="text" name="product_name" class="form-control" /></span></p>*@

                        <div class="formRow">
                            <label>Product Type :</label>
                            <span>
                                <input type="text" name="serviceType" value="@item.Request_Type" readonly class="form-control" />
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="formRow">
                            <label>Color :</label><span>
                                <input type="text" name="color" class="form-control" readonly value="@item.color" data-validation="optional" placeholder="Example: Red, Green" />
                            </span>
                        </div>
                        <div class="formRow">
                            <label>Specification :</label><span>
                                <textarea class="form-control" data-validation="optional" readonly name="specification">@item.Specification</textarea>
                            </span>
                        </div>
                        <div class="formRow">
                            <label>Description :</label><span>
                                <textarea class="form-control" name="description" readonly>@item.Request_Desc</textarea>
                            </span>
                        </div>
                        @*<div class="formRow">
                                <label>Product Url :</label>
                                <span>
                                    <input type="text" class="form-control" data-validation="optional" readonly value="@item.Request_URL" name="product_url" />
                                </span>
                            </div>*@
                    </div>
                </div>

                <div class="row">
                    @{
        if (item.Request_photo != null && item.Request_photo != "")
        {
            <div class="videoList photogallerybox">
                <div class="owl-carousel reqMovies owl-theme" id="productPhoto">
                    @{
            var img = item.Request_photo.Split(',');
            for (var i = 0; i < img.Length; i++)
            {
                var imgUrl = img[i].Split('#');
                var imgId = imgUrl[0];
                var imgPath = "http://serviceprovider.publickin.com" + imgUrl[1];

                <div class="item">
                    <img src="@imgPath" class="img-responsive" />
                    <div class="overLayerFunction">
                        <a class="fancybox" rel="memberPhoto" href="@imgPath"><i class="fa fa-search-plus"></i></a>

                    </div>
                </div>
            }}

                </div>
            </div>
        }
                    }
                </div>

                <div class="row formFieldsBox">
                    @{
        if (item.Request_movie != null && item.Request_movie != "")
        {
            <div class="clearfix"></div>
                        <div class="videoList">
                            <div class="owl-carousel reqMovies owl-theme" id="productVideo">
                                @{
            var vid = item.Request_movie.Split(',');
            for (var i = 0; i < vid.Length; i++)
            {
                var vidUrl = vid[i].Split('#');
                var vidId = vid[0];
                var vidPath = "http://serviceprovider.publickin.com" + vidUrl[1];
                <div class="item">
                    <video width="320" height="230"><source src="@vidPath">Your browser does not support the video tag.</video>
                    <div class="overLayerFunction">
                        <span class="playVideoIcon" data-video="@vidPath"><i class="fa fa-play"></i></span>
                        <a href="@vidPath" download="" target="_blank"><i class="fa fa-download"></i></a>
                    </div>
                </div>
            }}
                            </div>
                        </div>
        }
                    }
                </div>

            </div>
        </div>
    }
}

